<div id="about-content">
  <h1>Egor Kosaretsky</h1>
  <h3>ML(Ops)-Engineer and Bioinformatician | Located in Almaty, Kazakhstan</h3>
<div class="profile-container">
  <img src="/assets/about/egor.jpeg" alt="Egor Kosaretsky" class="profile-img">
  <div class="summary">
    <h2>Summary</h2>
    <p>Machine learning engineer and Bioinformatician with three years of
    experience in machine learning algorithms, biological data processing
    and analysis, Docker and K8s, ETL and CI/CD building with Python, R and
    Bash.</p>
  </div>
</div>

  <h2>Skills</h2>
  <ul>
    <li><strong>Machine Learning:</strong> PyTorch (Lightning), scikit-learn</li>
    <li><strong>Data Processing:</strong> Pandas, Polars, NumPy, Plotly, DVC, PostgreSQL</li>
    <li><strong>Infrastructure:</strong> Docker, K8s, Airflow/Luigi, Ray, MLflow, ClearML, Kubeflow, Pytest</li>
    <li><strong>Cloud:</strong> Yandex Cloud, Google Cloud, Amazon Web Services</li>
    <li><strong>Programming:</strong> Python, R, Bash, Nix, Terraform</li>
    <li><strong>Bioinformatics:</strong> Snakemake, genomic data analysis</li>
    <li><strong>Statistics:</strong> Probability theory, Bayesian statistics, ANOVA</li>
  </ul>

  <h2>Professional Experience</h2> 
  <h3>InDrive | Machine Learning Operations Engineer</h3>
  <p>Kazakhstan, Almaty | 06.2024 - current</p>
  <ul>
    <li>Work collaboratively with a senior MLOps engineer and Head of Data Science, providing on-call support to data scientists and analysts across the organization</li>
    <li>Maintain Kubeflow-based ML platform on Google Cloud, manage infrastructure through terragrunt, atlantis and nix, while developing and experimenting with inference platforms on Ray</li>
    <li>Maintain MLflow K8s clusters and conduct POCs on Databricks and AWS SageMaker for platform evaluation</li>
    <li>Led Kubeflow migration, developed Ray inference capabilities, and implemented nix development environment, contributing to a 20% decrease in on-call duty time and increased time to market for ML</li>
  </ul>

  <h3>Third Opinion AI | Machine Learning Operations Engineer</h3>
  <p>Russia, Moscow | 09.2023 - 06.2024</p>
  <ul>
    <li>Implemented platform architecture with the Head of AI</li>
    <li>Enhanced deployed ML services clusters based on Ray and Nvidia Triton</li>
    <li>Developed framework and CI pipelines for CV researchers around ClearML and Kubeflow</li>
    <li>Created a model registry and training workflow logging and orchestration</li>
  </ul>

  <h3>DevSect | Machine Learning Engineer</h3>
  <p>Russia, remote | 04.2023 - 9.2023</p>
  <ul>
    <li>Implemented standalone microservices with docker-compose and K8s</li>
    <li>Developed FastAPI endpoints for facial expression, Text2Speech, and Speech2Text</li>
    <li>Achieved a 12% increase in user app retention through AI feature integration</li>
  </ul>

  <h3>GENXT | Bioinformatician Data Scientist</h3>
  <p>UK, remote | 09.2021 - 04.2023</p>
  <ul>
    <li>Enhanced performance and quality of the genetic data pipeline</li>
    <li>Implemented parallel processing and introduced new workflows in Snakemake</li>
    <li>Conducted EDA and PCA analysis on genomic data</li>
    <li>Contributed to Federated learning research efforts</li>
  </ul>

  <h2>Education</h2>
  <h3>Lomonosov Moscow State University | Bioinformatics</h3>
  <p>Russia, Moscow | 2018 - 2023</p>
  <ul>
    <li>Relevant Coursework: Probability theory, Intermediate Python, Statistics with R</li>
    <li>Additional Courses: Max Delbrück Center for Molecular Medicine: ML for Genomics</li>
  </ul>

  <a href="#" class="btn" hx-get="/projects" hx-target="#main-content">Projects and Contributions</a>

  <a href="#" class="btn" hx-get="/contact" hx-target="#main-content">Get in Touch</a>
</div>
